{% extends 'base.html' %}
{% block title%}
fee structure
{% endblock%}
{% block content%}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">fee structure</h1>
    </div>
    {% if fees %}
    <div class="row">
        {% for fee in fees %}
        <div class="col-md-4">
            <div class="card text-dark mb-4">
                <div class="card">
                    <ul class="list-group">
                        <li class="list-group-item">Term : {{ fee.term }}</li>
                        <li class="list-group-item">Amount : shs{{ fee.amount }} </li>
                        <li class="list-group-item">Status : {{ fee.IsActive }}</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-sm btn-success">pay</a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</main>
{% endblock%}